

/*body{
    background-image: url("https://us.123rf.com/450wm/fabrikacrimea/fabrikacrimea1811/fabrikacrimea181101704/111039134-cup-of-coffee-with-notebook-on-wooden-desk.jpg?ver=6") no-repeat;
    background-size: 100%;
}*/


/*div.container{
    
    border: thick double #32a1ce;
    padding: 50px;
    width: 55%;
    margin: auto;
    
}

div.container div.add-item{
    padding-left: 450px;
}

div.container #list{
    padding-left: 460px;
}

div.container div.reset{
    padding-left: 500px;
}

div.container div.header{
    padding-left: 500px;
}*/

/*@font-face {
    font-family: 'ambleregular';
    src: url('C:\Users\Acer\Desktop\JAVASCRIPT  TUTO\mini projects\css project1\Amble-Regular-webfont.eot');
    src: url('C:\Users\Acer\Desktop\JAVASCRIPT  TUTO\mini projects\css project1\Amble-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('C:\Users\Acer\Desktop\JAVASCRIPT  TUTO\mini projects\css project1\Amble-Regular-webfont.woff2') format('woff2'),
         url('C:\Users\Acer\Desktop\JAVASCRIPT  TUTO\mini projects\css project1\Amble-Regular-webfont.woff') format('woff'),
         url('C:\Users\Acer\Desktop\JAVASCRIPT  TUTO\mini projects\css project1\Amble-Regular-webfont.ttf') format('truetype'),
         url('C:\Users\Acer\Desktop\JAVASCRIPT  TUTO\mini projects\css project1\Amble-Regular-webfont.svg#ambleregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
h1{
    font-family: 'ambleregular',Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
*/
body{

    /*background: linear-gradient(#2E596B , #3B728A);*/
   /* background: linear-gradient(0.25turn,#274C5C , #a0a49d,#3B728A );*/
    background-image: url("./coffee-1128135.jpg");
   background-size: cover;
}

div.container{
    /*border: 2px solid black;*/
    /*box-shadow: 20px 20px 20px 20px black;*/
    background-color: #f4f2f0;
    /* background: transparent; */
    opacity: 0.8;;
    /* backdrop-filter: blur(4px); */
    box-shadow: 0 10px 50px rgb(88, 167, 236);
    /*filter: drop-shadow(0 0 2rem black);*/
    padding: 10px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-block: 100px;
    /*background-color: #D6BDAE;*/
    /*opacity: 0.7;*/
    border-radius: 7px;
}

div.container div{
    text-align: center;

}
.add-item{
    margin-left:50px;
}
.content li{
    font-size: 20px;
    list-style: none;
    line-height:45px;
    position: relative;
    border: 1px solid black;
    margin-bottom: 10px;
    border-radius:5px;
    box-shadow: 3px 3px 3px #434545;
}

.content li span#delet{
    position: absolute;
    right: 0px;
    width: 45px;
    cursor: pointer;
    border-radius: 20px;
}



.content li span#delet:hover{
    box-shadow: 3px 3px 3px #5b5d5e,-3px -3px 3px #5b5d5e;
}

.content li span#complete:hover{
    box-shadow: 3px 3px 3px #5b5d5e,-3px -3px 3px #5b5d5e;
}

/*
div.container #list{
    padding-left: 150px;
}*/

h1{
    /*text-shadow: 6px 6px 6px black;*/
    color:rgb(7, 49, 117);
    font-size: 60px;
    /* text-shadow: 10px 10px 10px black; */
    margin-top: 12px;
}
input{
    width: 400px;
    height: 50px;
    /*background: rgb(134, 103, 76);*/
    background: transparent;
    border-radius: 5px;
    /* border:solid; */
    font-size: 20px;
    margin: 1em;
    /* outline: none; */
    box-shadow: inset 3px 3px 3px #efe5d9, inset -5px -5px 3px rgb(236, 227, 227);
}

/*input:focus{
    background: linear-gradient(90deg,#86674c,#d2aa77,#bab691);
}*/

.add-item button{
    font-size: 25px;
    /* border: solid; */
    border-radius: 5px;
    background: linear-gradient(90deg,#213f94,#1983ec,#67b7e6);
    /*background: transparent;*/
    opacity: 0.5;
    pointer-events: none;
    cursor: pointer;
}

.add-item button.active{
    opacity: 1;
    pointer-events: auto;
}

.reset button{
    font-size: 25px;
    /* border: solid; */
    border-radius: 5px;
    background: linear-gradient(90deg,#213f94,#1983ec,#67b7e6);
    opacity: 0.5;
    pointer-events: none;
    cursor: pointer;
    
}
.reset button.active{
    opacity: 1;
    pointer-events: auto;
}

button:hover{
    background: linear-gradient(90deg,#67b7e6,#1983ec,#213f94);
}

.content li span#complete{
    position: absolute;
    left: 0px;
    width: 45px;
    cursor: pointer;
    border-radius: 20px;
}



/*input{
    font-size: 25px;
    border-radius: 5px;
    left:0px;
}*/

#date{
    text-align: center;
}



/*span.deleteItem{
    position: absolute;
    right: 0px;

}*/